.input {
      margin-left: 20px;
      display: block;
    }

    .center {
      margin-left: 71px;
    }

    .file-upload-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 445px;
      margin-left: 25px;
      background-color: #dee6de;
      /* color: white; */
      padding: 10px 20px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.29);
      border-radius: 20px;
      cursor: pointer;
    }

    .file-upload-wrapper input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      /* Hide the default file input */
      cursor: pointer;
    }

    .file-upload-text {
      font-size: 16px;
    }

    /* Hover effect */
    .file-upload-wrapper:hover {
      background-color: #45a049;
    }